/* li{
    color: white;
    background-color: red;
} */
.nav{
    background-color: rgba(0, 0, 0, 0.712);
}

.nav-link{
color: rgb(241, 238, 238);
font-size: large;
}
 .nav-link:hover{
    color: blue;
}