/* li{
    color: white;
    background-color: red;
} */
.nav{
    background-color: rgba(0, 0, 0, 0.712);
}

.nav-link{
color: rgb(241, 238, 238);
font-size: large;
}

/* .nav-item:hover{
    background-color: rgba(255, 166, 0, 0.849);
} */